<h2>Games</h2>

<%= render :partial => "game", :collection => @games %>

<div>
  <%= link_to "Add a new game", new_game_path %>
</div>

<h2>Players</h2>

<%= render :partial => "player", :collection => @players %>

<div>
  <%= link_to "Add a new player", new_player_path %>
</div>
