<div class="most-recent">
	<h2>Most Recently</h2>
	<ul>
		<% most_recent.teams.each_with_index do |team, index| %>
		  <% team.players.each do |player| %>
		  	<li>
		  		<%= image_tag(gravatar_url(player, :size => 250)) %>
		  		<h3><a href="<%= player_game_path(player, @game) %>"><%= player.name %></a></h3>
		  	</li>
		  <% end %>
		<% end %>
	</ul>
</div>


 


<style>
	.most-recent{
		clear: both;
		margin: 0 0 40px;
		overflow: hidden;
		background: #222;
		padding: 20px 0;
	}

	.most-recent h2 {
		text-align: center;
		font-size: 20px;
		color: #efefef;
		margin: 10px 0;
	}

	.most-recent ul{
		padding: 0;
		list-style: none;
		overflow: hidden;
		clear: both;
		width: 50%;
		margin: 0 auto;
	}

	.most-recent li {
		width: 50%;
		float: left;
		text-align: center;
	}

	.most-recent a {
		text-decoration: none;
		color: #efefef;
	}

	.most-recent img{
		border: 1px solid #fff;
		margin: 0 0 10px 0;
	}

</style>