<div class="hero-unit">
  <h1><%= @game.name %></h1>
</div>

<div class="row-fluid">
  <div class="span6">
    <h2>All Ratings</h2>
    <ol>
      <%= render :partial => 'games/rating', :collection => @game.all_ratings %>
    </ol>
  </div>
</div>
