<%= turbo_frame_tag "ratings" do %>
  <table id='ratings'>
    <thead>
      <tr>
        <th>Player</th>
        <th>Rating</th>
        <th>W</th>
        <th>L</th>
        <% if @game.allow_ties %>
          <th>T</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'games/rating', collection: @game.all_ratings %>
    </tbody>
  </table>
<% end %>
