<h1><%= @game.name %></h1>

<div class="row-fluid">
  <div class="span6">
    <h2>All Ratings</h2>
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Rating</th>
          <th><abbr title='Wins'>W</abbr></th>
          <th><abbr title='Losses'>L</abbr></th>
          <% if @game.allow_ties %>
            <th><abbr title='Ties'>T</abbr></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'games/rating', collection: @game.all_ratings %>
      </tbody>
    </table>
  </div>
</div>
