<tr>
	<td><%= rating_counter + 1 %></td>
	<td>
		<%= image_tag(gravatar_url(rating.player, :size => 40)) %>
  	<%= link_to rating.player.name, player_game_path(rating.player, @game) %>
	</td>
	<td><%= rating.value %></td>
</tr>
