<div class="players-header">
  <h1>Players</h1>
  <div><%= link_to "New player", new_player_path, data: { turbo_frame: "new_player" }, class: "btn btn-primary" %></div>
</div>

<%= turbo_frame_tag "new_player", target: "_top" %>

<ul class="players-list" id='players'>
  <%= render @players %>
</ul>