/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.row:before, .row:after, .row-fluid:before, .row-fluid:after {
  content: '';
  display: table;
  clear: both; }

[class^='span'] {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 15px; }
  [class^='span']:first-child {
    padding-left: 0; }
  [class^='span']:last-child {
    padding-right: 0; }

.span1 {
  width: 8.33333%; }

.span2 {
  width: 16.66667%; }

.span3 {
  width: 25%; }

.span4 {
  width: 33.33333%; }

.span5 {
  width: 41.66667%; }

.span6 {
  width: 50%; }

.span7 {
  width: 58.33333%; }

.span8 {
  width: 66.66667%; }

.span9 {
  width: 75%; }

.span10 {
  width: 83.33333%; }

.span11 {
  width: 91.66667%; }

.span12 {
  width: 100%; }

@media screen and (max-width: 800px) {
  [class^='span'] {
    float: none;
    padding: 0;
    margin: 0 0 40px;
    clear: both;
    width: 100%; } }

html {
  font-size: 62.5%;
  font-family: "IBM Plex Mono", "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  background-color: #f9f9f9;
  font-size: 1.4rem;
  line-height: 1.45em;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, #games-list {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.45em; }

h2, h3, h4 {
  margin: 20px 0; }

h1 {
  color: #666;
  margin: 0 0 10px;
  font-size: 6.2rem;
  line-height: 1.2em; }

h2 {
  color: #444;
  font-size: 3.6rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0; }

img {
  border-radius: 50%;
  vertical-align: text-bottom;
  position: relative;
  top: -2px; }

table, ul, ol {
  margin-top: 20px;
  margin-bottom: 20px; }

table {
  border-collapse: collapse;
  width: 100%; }
  table img {
    vertical-align: middle; }
  table th, table tr:nth-child(even) {
    background-color: #f3f3f3; }
  table th {
    text-align: left;
    background-color: #eee;
    padding: 10px;
    color: #999;
    font-weight: 400; }
  table td {
    padding: 8px 10px;
    vertical-align: top; }
  table tbody tr {
    border-bottom: 1px dashed #ccc;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease; }

ul {
  list-style: none; }

ul, ol {
  padding: 0; }
  ul li, ol li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px dashed #ccc; }

a {
  color: #069;
  text-decoration: none;
  transition: opacity 0.1s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  will-change: color; }
  a:hover {
    color: #39C; }

header {
  background-color: #222;
  padding: 0 20px;
  margin-bottom: 20px;
  position: relative;
  height: 45px; }
  header a.brand {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -18px; }
    header a.brand:hover .brand-label {
      opacity: 1;
      transform: translateY(-8px);
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px); }
  header .brand-name {
    color: #fff;
    font-size: 2rem;
    padding: 10px 0 20px; }
  header .brand-label {
    text-align: center;
    color: #222;
    opacity: 0;
    will-change: opacity, transform;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px); }

#main {
  padding: 20px; }

.footer {
  bottom: 0;
  padding: 10px 0;
  text-align: center; }

fieldset {
  border: none; }

.btn {
  display: inline-block;
  background-color: #999;
  border: 0;
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 4px 20px;
  margin-right: 0.5em;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  font-family: "IBM Plex Mono", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 1.4rem;
  font-weight: 700;
  height: 28px;
  user-select: none;
  will-change: box-shadow;
  -webkit-font-smoothing: antialiased; }
  .btn:hover {
    color: #fff;
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.2); }
  .btn.btn-warning, .btn.btn-danger {
    padding: 0;
    background-color: transparent;
    margin: 0 0 0 1.4em;
    color: #c00;
    font-size: 1.4rem;
    height: auto;
    box-shadow: none; }
  .btn.btn-primary {
    background-color: #39C; }

#games-list {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px 20px; }

#games-list .game-list-item {
  border: none;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  padding: 0; }

#games-list .game-list-item a {
  color: #666;
  display: block;
  padding: 20px;
  min-height: 260px;
  border: 1px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: color 0.2s ease, border 0.2s ease;
  -webkit-transition: color 0.2s ease, border 0.2s ease;
  -moz-transition: color 0.2s ease, border 0.2s ease;
  will-change: color, border;
  background-color: #fff; }
  #games-list .game-list-item a:hover {
    border: 1px solid #ccc;
    color: #333; }

#games-list .game-title {
  margin: 0; }

#games-list .rating-type {
  text-transform: uppercase; }

#games-list .game-params {
  margin: 0; }
  #games-list .game-params li {
    border: none;
    padding: 0; }

#results li {
  padding-left: 10px;
  padding-right: 10px; }

#results .player {
  display: inline-block;
  margin: 0 0.5em; }
  #results .player:first-child {
    margin-left: 0; }

#results td:last-child {
  text-align: right; }

#results tr:hover {
  background-color: rgba(0, 0, 0, 0.05); }

#results .new {
  background-color: #FFE; }
  #results .new .btn {
    opacity: 0;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease; }
  #results .new:hover .btn {
    opacity: 1; }

#results time {
  margin-left: 20px; }

#results .btn-danger {
  float: right; }

#results a:not(.btn) {
  color: #333; }
  #results a:not(.btn):hover {
    color: #39C; }

.recent-result .description {
  opacity: 0.6;
  line-height: 1.2em; }

time {
  font-size: 1.2rem;
  opacity: 0.6; }

#ratings {
  counter-reset: rank; }
  #ratings th:nth-child(n+2), #ratings td:nth-child(n+2) {
    text-align: right; }
  #ratings .player:before {
    counter-increment: rank;
    content: counter(rank);
    display: inline-block;
    margin-right: 10px; }
  #ratings tbody tr:first-child {
    font-weight: 700;
    font-size: 1.6rem; }
  #ratings tbody td {
    vertical-align: middle; }
  #ratings img {
    margin-right: 10px; }
  #ratings .unplayed {
    color: #999; }
  #ratings .player {
    display: inline; }

#players-list img {
  vertical-align: middle;
  margin: -2px 6px -2px 10px; }

.form-well {
  background-color: #F5F5F5;
  box-sizing: border-box;
  border: 1px solid #CCC;
  padding: 20px; }
  .form-well form > .control-group:nth-of-type(1) {
    margin-top: 0; }

.chzn-container, .chzn-choices, .chzn-container .search-field input,
.chzn-default, .chzn-default span {
  display: inline-block;
  vertical-align: bottom;
  min-height: 32px; }

.chzn-container, .chzn-choices {
  width: 300px; }

.chzn-container .search-field {
  border-bottom: none; }

.chzn-default span {
  padding: 5px 0; }

.chzn-container.chzn-container-single .chzn-single div b {
  background-position: 0 7px; }

.control-group {
  margin: 1em 0; }

.form-actions {
  margin-top: 20px; }

.attribution, .help-inline {
  display: inline-block;
  color: #999;
  font-size: 1.2rem; }

.attribution {
  margin: 1em 0; }

.help-inline {
  margin-left: 0.5em; }

label {
  font-weight: 400;
  color: #999; }

input[type='text'], input[type='number'], input[type='submit'], select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 34px;
  margin: 0; }

input[type='text'], input[type='number'], select {
  font-size: 1.4rem;
  outline: none;
  margin: 2px 0; }
  input[type='text']:focus, input[type='number']:focus, select:focus {
    box-shadow: 0 0 0 4px #ddd; }

input[type='text'], input[type='number'] {
  padding: 0 5px;
  box-shadow: none;
  border: 1px solid #ccc;
  transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  will-change: box-shadow; }

input[type='number'] {
  width: 4em; }

input[type='submit'] {
  border: none;
  font-size: 1.2rem;
  cursor: pointer; }

select {
  border: 1px solid #999; }

#form-results .chzn-container, #form-results select {
  margin: 6px; }

@media screen and (max-width: 1024px) {
  #games-list {
    grid-template-columns: 1fr 1fr; }

@media screen and (max-width: 800px) {
  h1 {
    font-size: 4.2rem; }
  h2 {
    font-size: 3.2rem; } }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.2rem;
    margin-bottom: 20px; }
  h2 {
    font-size: 2.4rem; }
  h3, #games-list .game-title {
    font-size: 1.8rem; }
  header a.brand {
    left: 50%;
    margin-left: -30px; }
  #games-list {
    grid-template-columns: 1fr; }
  #games-list .game-list-item {
    display: block;
    width: 100%;
    padding: 0 !important; }
  #games-list .game-list-item a {
      min-height: initial; } }
