body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.btn-sidebar {
  margin-left: 1em;
}

section.action-buttons {
  margin-top: 1em;
}

span.acts-on-player {
  margin-left: 1em;
  margin-right: 1em;
}

span.inline-submit {
  margin-left: 1em;
}

span.help-text {
  display: block;
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
